################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WhoWantsMoney/.vs
/WhoWantsMoney/bin