################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WhoWantsMoney/WhoWantsMoney/.vs
/WhoWantsMoney/WhoWantsMoney/bin